################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
/ds/ds.vcxproj.user
/.vs/ds/v15/ipch/AutoPCH/2a39667c6774e3f5
/intermediate/windows/vs/v141/x64/Debug/ds
*.user
/.vs/ds/v15/ipch
/intermediate/windows/vs/v141
/output/windows/vs/v141
/thirdParty/googletest
/thirdParty/googletest_include-1.8.0.14.zip
/thirdParty/googletest_include-1.8.0.14
/thirdParty/googletest_include-1.8.0.13.zip
/thirdParty/googletest_binaries_Release_x64-1.8.0.14.zip
/thirdParty/googletest_binaries_Release_Win32-1.8.0.14.zip
/thirdParty/googletest_binaries_Debug_x64-1.8.0.14.zip
/thirdParty/googletest_binaries_Debug_x64-1.8.0.14
/thirdParty/googletest_binaries_Debug_x64-1.8.0.13.zip
/thirdParty/googletest_binaries_Debug_Win32-1.8.0.14.zip
/test1.bat
/test.bat
